.imgIcon {
    margin: 3px 3px 3px 3px;
    padding: 3px 3px 3px 3px;
    border: double 2px black;
    display: inline-block;
    width: 100px;
    height: 100px;
    cursor: pointer;
    vertical-align: central;
    border-radius: 5px;
}

.stdHref{

    font-size: 20px;
}